html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  padding: 0 260px;
  margin: 0;
  height: 100vh;
  background-image: linear-gradient($softViolet, $softBlue);
  font-size: 12px;
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}
