.container-accordion {
  h1 {
    text-transform: uppercase;
    font-size: 27px;
    font-weight: bold;
  }

  .article {
    border: 1px solid magenta;
    font-size: 15px;
    .question {
    }

    .asnwer {
    }
  }
}
